{
  "all": true,                   
  "include": ["src/**/*.ts"],    
  "exclude": ["src/test/**"],    
  "extension": [".ts"],          
  "reporter": ["text", "html"],  
  "check-coverage": true,        
  "statements": 80,              
  "branches": 80,                
  "functions": 80,               
  "lines": 80                    
}
